<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("../partials/navbar") %>
    <form action="/<%= findTodo.id %>?_method=PATCH" method="post">
      <label for="task">Task:</label>
      <input
        type="text"
        id="task"
        name="editTask"
        value="<%= findTodo.task %>"
      />

      <label for="due">Due to:</label>
      <input
        type="date"
        id="due"
        name="editDue"
        min=""
        value="<%= valueDue %>"
      />

      <label for="importance">Importance:</label>
      <select
        name="editImportance"
        id="importance"
        value="<%= findTodo.importance%>"
      >
        <option value="normal">Normal</option>
        <option value="important">Important</option>
        <option value="urgent">Urgent</option>
      </select>
      <button>Save</button>
    </form>

    <script>
      const today = new Date().toISOString().split("T")[0]
      document.getElementById("due").setAttribute("min", today)
    </script>
  </body>
</html>
