<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <%- include("../partials/navbar") %>
    <ul>
      <% for(let todo of todos) { %>
      <li>
        <a href="/<%- todo.id %>"
          ><%= todo.task %> due to: <%= todo.due %> (<%= todo.importance %>)</a
        >
      </li>
      <% } %>
    </ul>
  </body>
</html>
