<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Todo</title>
  </head>
  <body>
    <%- include("../partials/navbar") %>
    <h3>The task you looking for:</h3>
    <ul>
      <li><b>Task: </b><%= findTodo.task %></li>
      <li><b>Due to: </b><%= findTodo.due %></li>
      <li><b>Importance: </b><%= findTodo.importance%></li>
    </ul>
    <a href="/<%- findTodo.id %>/edit">Edit</a>
    <a href="/">Back</a>
  </body>
</html>
